
* {
    border: 1px solid bisque;
    margin: 0px auto;
    width: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    
}

header > nav {
    float: right;
    text-decoration: none;
}

/* header specific */
header {
    height: 200px;
    margin-left: 960;

}


h2 {
    margin: 0 0 0 50px;
padding: 25px 0 0 0;
font-family: 'Open Sans', arial, sans-serif;
font-size: 1.8em;
font-style: italic;
font-weight: 800;
line-height: 0.80em;
letter-spacing: -0.02em;
text-transform: uppercase;
border-left: 1px solid #bcbdc0;
border-right: 1px solid #bcbdc0;
float: left;
}


h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-align: center;

}


header > nav > ul > li {
    background-color: burlywood;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    text-align: center;

    
}



body{
    background-color: bisque;

}

main {
   
    background-color: bisque;
}

ul{
float: left;
text-align: center;