
* {
font-family: Helvetica, Arial, sans-serif;
background-color: bisque;
}

header {
    background-color: bisque;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

header > nav > ul > li {
    background-color: burlywood;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 200px;
    
}

main {
    background-color: bisque;
    margin-left: 100px;
    margin-right: 100px;
}

li  {
    display: inline-block;
    
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border-radius: 25px;
    background-color: burlywood;
    
    
}



h2 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 800;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;
    
}


h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-align: center;
}

h4 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-align: center;
    font-size: 20px;
}
